/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *\

    Comments like this keep me organized in CSS.
    A tad unnecessary, but hey, to each his own. Haha

\* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *\

    Fancy fonts for fancy people.

\* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@font-face {
    font-family: Monty;
    src: url(misc/Monty.ttf);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *\

    First, style the most generic elements.
    These traits will be the most shared, and will be
    most effective cascading through the rest.

\* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
   font-family: Monty, sans-serif;
   background-image: url('images/backtile3.jpg');
}

h1, h2, h3, h4 {
    font-family: Monty, sans-serif;
    margin: 10px 20px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

label {
    display: inline-block;
    margin: 20px auto 15px auto;
    font-size: 25px;
}

input {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    padding: 5px;
    border-radius: 7px;
    font-size: 30px;
}

form {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 35px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *\

    Second, style classes. These are less generic than
    DOM object types like p, a, and h1, but are still
    commonly shared traits with a need to cascade.

\* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.iPiece {
    margin-top: 80px;
}

.pTag {
    margin-top: 180px;
}

.subButton {
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-weight: bold;
}

.subButton:hover {
    background-color: white;
    border-color: lightblue;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *\

    Third, style individual IDs. These traits will be
    specific to a single item, and can be simplified
    by allowing classes and object types to have their
    traits cascade down as well.

\* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#dContainer {
    width: 100%;
}

#playContainer {
    z-index: 0;
    width: 100%;
    float: left;
}

#dCentered {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    background-color: white;
    padding-top: 55px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    padding-bottom: 30px;
}

#playContainer {
    width: 100%;
}

#dPlay {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1100px;
    display: flex;
    display: -webkit-flex; /* Safari */
    /*-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    justify-content: center;
}

#playLeft {
    width: 170px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 10px 10px 10px;
    margin-right:50px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    letter-spacing:-1em;
    word-spacing:-1em
}

#playRight {
    width: 170px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 10px 10px 10px;
    margin-left:50px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    letter-spacing:-1em;
    word-spacing:-1em
}

#playMiddle {
    width: 660px;
    letter-spacing:-1em;
    word-spacing:-1em
}

#board {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 640px;
    height: 640px;
    padding: 16px 8px 2px 8px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    letter-spacing:normal;
    word-spacing:normal
}

#board .square {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.playContent {
    letter-spacing:normal;
    word-spacing:normal;
}

#s00 {
    border-right: 5px solid darkslategray;
    border-bottom: 5px solid darkslategray;
    margin-right: -7px;
}

#s01 {
    border-left: 5px solid darkslategrey;
    border-bottom: 5px solid darkslategray;
    border-right: 5px solid darkslategray;
    margin-right: -7px;
}

#s02 {
    border-left: 5px solid darkslategrey;
    border-bottom: 5px solid darkslategray;
}

#s10 {
    border-top: 5px solid darkslategray;
    border-right: 5px solid darkslategrey;
    border-bottom: 5px solid darkslategray;
    margin-right: -7px;
    margin-top: -5px;
}

#s11 {
    border: 5px solid darkslategray;
    margin-right: -7px;
    margin-top: -5px;
}

#s12 {
    border-top: 5px solid darkslategray;
    border-left: 5px solid darkslategrey;
    border-bottom: 5px solid darkslategray;
    margin-top: -5px;
}

#s20 {
    border-top: 5px solid darkslategray;
    border-right: 5px solid darkslategrey;
    margin-right: -7px;
    margin-top: -5px;
}

#s21 {
    border-top: 5px solid darkslategray;
    border-left: 5px solid darkslategrey;
    border-right: 5px solid darkslategrey;
    margin-right: -7px;
    margin-top: -5px;
}

#s22 {
    border-top: 5px solid darkslategray;
    border-left: 5px solid darkslategrey;
    margin-top: -5px;
}

#darkened {
    z-index: 1;
    width: 100%;
    height: 1500px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

#winNotice {
    z-index: 2;
    width: 500px;
    Top: 30%;
    Left: 50%;
    margin-left:-250px;
    margin-top:-50px;
    background-image:url('images/backtile3.jpg');
    position:absolute;
    visibility: hidden;
    border-radius: 15px;
    border: 3px solid darkslategray;
    text-align:center;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.6);
    padding: 15px;
}

#winTag {
    font-size:50px;
    margin-top:8%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

#resultsTable {
    margin-top: 25px;
}

#resultsTable th, td {
    font-size: 20px;
    padding: 9px;
    margin-top: 25px;
    border: 2px solid lightslategray;
}